@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


.main{
  padding-left: 200px;
  padding-top: 50px;
}


@media screen and (max-width: 1024px) {
  .main{
  padding-left: 142px;
  padding-top: 0px;
}

}





