.error404{
    font-size: 22rem;
    font-weight: 800;
    padding: 0;
    margin: 0;
    color: rgb(216, 5, 5);
}

.page-not-found{
    font-size: 3.5rem;
    font-weight: 600;
    color: rgb(109, 109, 109);
    padding: 0;
    margin: 0;
}

.page-not-found-txt{
    font-size: 1.5rem;
    font-weight: 200;
    color: rgb(109, 109, 109);
    padding: 0;
    margin: 0;
}