
.bg{
    width: 835px;
    margin-top: 25px;
}
.container-graphique-title{
    width: 134px;
    height: 24px;
}

g.graph-title{
    color: #000000;
    font-size: 15px;
}

.recharts-legend-item.legend-item-1 {
  margin-left: 50px;
}



.hidden-y-axis {
    display: none;
  }

  //texte au survole de la souris
  .custom-tooltip{
    background-color: #E60000;
    width: 39px;
    height: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }
  .tooltip-txt{
    font-size: 7px;
    color: white;
  }

  //message erreur quand les données sont pas chargé
  .error-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .loadingError{
    margin: 50px;
    font-size: 18px;
  }

 
  @media screen and (max-width: 1024px) {
    .bg{
    width: 630px;
    margin-top: 10px;
  }
  }