
.custom-dialog-line{
    background-color: white;
    width: 39px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-custom-dialog-line{
    font-size: 8px;
}

.bg-graphique-line{
    background-color: #FF0000;
    border-radius: 10px;
}

.txt-p-graphique-line{
    font-size: 15px;
    color: rgba(255,255,255,0.6);
    margin: 0 45px 0 32px;
    line-height: 25px;

}





  
  
  


  

  
  




  


